.container {
  margin: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.table th {
  background-color: #f2f2f2;
  text-align: left;
}

.btn {
  margin-right: 5px;
}

.btn-primary {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.btn-danger {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.space-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

/* Bouton Ajouter un espace */
.add-button-wrapper {
  width: 80%;
  margin-top: 20px;
}

.btn-add {
  background-color: #17cf54;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-add:hover {
  background-color: #13b047;
  transform: scale(1.05);
}
.btn-view {
  background-color: #17cf54;
}
.btn-view:hover {
  background-color: #13b047;
}

.btn-action {
  border: none;
  padding: 6px 12px;
  margin: 2px;
  border-radius: 6px;
  font-size: 0.85rem;
  cursor: pointer;
  color: #fff;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
