<div class="container">
  <h2>Coworking Spaces</h2>
  <div class="add-button-wrapper">
    <button class="btn-add" [routerLink]="['/addspace']">+ Ajouter un espace</button>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Address</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let space of spaces">
        <td><img [src]="space.image" alt="space.name" class="space-image"></td>
        <td>{{ space.name }}</td>
        <td>{{ space.address }}</td>
        <td>{{ space.description }}</td>
        <td>
          <button class="btn btn-primary" (click)="updateSpace(space.id!)">Update</button>
          <button class="btn btn-danger" (click)="deleteSpace(space.id!)">Delete</button>
          <button class="btn-action btn-view" [routerLink]="['/space', space.id, 'rooms']">Afficher rooms</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
