<div class="table-container">
  <div class="add-button-wrapper">
    <button class="btn-add" (click)="addRoom()">+ Ajouter une Salle</button>
  </div>

  <table class="table table-striped custom-table">
    <thead>
    <tr>
      <th scope="col">Image</th>
      <th scope="col">Name</th>
      <th scope="col">Type</th>
      <th scope="col">Capacity</th>
      <th scope="col">Price</th>
      <th scope="col">Available</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let room of rooms">
      <td><img [src]="room.image" alt="{{room.name}}" class="room-image"></td>
      <td>{{ room.name }}</td>
      <td>{{ room.type }}</td>
      <td>{{ room.capacity }}</td>
      <td>{{ room.price }}</td>
      <td>{{ room.isAvailable ? 'Yes' : 'No' }}</td>
      <td>
        <button class="btn-action btn-delete" (click)="deleteRoom(room.id!)">Supprimer</button>
        <button class="btn-action btn-edit" (click)="editRoom(room.id!)">Modifier</button>
      </td>
    </tr>
    </tbody>
  </table>


</div>

